In [1]:
import inv_competition as ic
import pandas as pd
import numpy as np
import datetime

today = datetime.date.today()
yesterday = today - datetime.timedelta(days=1)
last_Friday = today - datetime.timedelta(days=3) # 월요일에는 yesterday 대신 last_Friday를 input

In [2]:
before = ic.import_sheet(date=yesterday)

C:\Users\USER\Desktop\근자열 대회\inv_competition.py:40: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df1.columms = cols

In [4]:
# 마지막 column의 형태를 yyyy-mm-dd로 바꿔줌
# inv_competition.py 파일의 import_sheet method에 해당 코드를 추가하였으나, 위에 before.head(3)을 보면 먹히지 않았음 (수정 필요)
cols = list(before.columns)
cols[-1] = yesterday
before.columns = cols
before.head(3)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,현재순위,전일순위,변동,닉네임,종목,code,...,K/Q,사유,비고,2020-07-20 00:00:00,2020-07-21 00:00:00,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28
0,0,0,0,0,1,1,0,호호,뉴보텍,060260,...,Q,차트,0720홀딩,2160,2160,2160,2160,2160,2160,2160
1,1,4,13,23,2,2,0,쪼,테스나,131970,...,Q,"3차 돌파매매 시도, 이격도 좁고, 매수수급 강함, 기관 빈집 채우기 시작",NaN,71100,70700,69500,72400,74600,86200,82200
2,2,5,4,4,3,3,0,올때까지,피에스케이,319660,...,Q,조정 중 실적주,NaN,25950,26900,28800,28900,28150,30900,30950

In [5]:
code_list = ic.get_code_list(before)
print('today code list:', code_list)
print('개수:', str(len(code_list))+'개')

today code list: ['131970', '319660', '353200', '249420', '050890', '012280', '298060', '009830', '035420', '071280', '071050', '086790', '063160', '035720', '089150', '051490', '138080', '084670', '214150', '009470', '002410', '298000', '024880', '204480', '041920', '191420', '068270', '218410', '056700']
개수: 29개

In [10]:
scrap = ic.get_price(code_list) # scraping the current prices
scrap_df = pd.DataFrame(scrap)
update = before.merge(scrap_df, how='outer') # merge before and current data by code
update.head(3)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,현재순위,전일순위,변동,닉네임,종목,code,...,사유,비고,2020-07-20 00:00:00,2020-07-21 00:00:00,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28,2020-07-29
0,0,0,0,0,1,1,0,호호,뉴보텍,060260,...,차트,0720홀딩,2160,2160,2160,2160,2160,2160,2160,NaN
1,1,4,13,23,2,2,0,쪼,테스나,131970,...,"3차 돌파매매 시도, 이격도 좁고, 매수수급 강함, 기관 빈집 채우기 시작",NaN,71100,70700,69500,72400,74600,86200,82200,83400.0
2,2,5,4,4,3,3,0,올때까지,피에스케이,319660,...,조정 중 실적주,NaN,25950,26900,28800,28900,28150,30900,30950,31300.0
3,8,12,7,14,4,9,5,패자부활전,대덕전자,353200,...,차트 및 수급,NaN,12300,11700,12600,12950,12350,12700,13600,13350.0
4,4,2,2,3,5,5,0,흑인,일동제약,249420,...,"신약개발, 복제약시장 선점 가능성",NaN,14600,15000,15900,16200,16350,16000,16150,16050.0

In [11]:
ic.fill(update) # filling prices(NaN) if there are some holders
ic.cal_rates(update) # calculate profit rates
final = ic.ordering(update, '수익률')
final.head(3)

C:\Users\USER\Desktop\근자열 대회\inv_competition.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t1[i] = t0[i]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,현재순위,전일순위,변동,닉네임,종목,code,...,사유,비고,2020-07-20 00:00:00,2020-07-21 00:00:00,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28,2020-07-29
0,0,0,0,0,1,1,0,호호,뉴보텍,060260,...,차트,0720홀딩,2160,2160,2160,2160,2160,2160,2160,2160.0
1,1,4,13,23,2,2,0,쪼,테스나,131970,...,"3차 돌파매매 시도, 이격도 좁고, 매수수급 강함, 기관 빈집 채우기 시작",NaN,71100,70700,69500,72400,74600,86200,82200,83400.0
21,25,29,28,29,3,22,19,주린이,범양건영,002410,...,"6년 만의 신고가, 짧고 굵게 한번 더",NaN,5160,5280,5200,5050,4785,5190,5320,6300.0
2,2,5,4,4,4,3,-1,올때까지,피에스케이,319660,...,조정 중 실적주,NaN,25950,26900,28800,28900,28150,30900,30950,31300.0
6,7,19,16,11,5,7,2,주식하자,영화금속,012280,...,"가덕도 신공항, 단기급락 후 우상향 차트",NaN,1880,1865,1900,1850,1800,1905,1965,2080.0

In [8]:
# 평균수익률 계산
total_rate = round(np.mean(final['수익률']), 2)
print("전체포트수익률: " + str(total_rate) + '%')

전체포트수익률: 4.39%

In [9]:
ic.export_sheet(final)